<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.manpowergroup.springboot.springboot3web.system.infrastructure.persistence.mapper.role.RolePermissionMapper">

    <!-- 共通の結果マッピング -->
    <resultMap id="BaseResultMap" type="com.manpowergroup.springboot.springboot3web.system.domain.model.role.RolePermission">
        <id column="id" property="id" />
        <result column="role_id" property="roleId" />
        <result column="permission_id" property="permissionId" />
        <result column="created_at" property="createdAt" />
        <result column="updated_at" property="updatedAt" />
        <result column="is_deleted" property="isDeleted" />
    </resultMap>

    <!-- 共通のカラム一覧 -->
    <sql id="Base_Column_List">
        id, role_id, permission_id, created_at, updated_at, is_deleted
    </sql>

    <select id="selectAllByRoleIdIncludeDeleted"
            resultType="com.manpowergroup.springboot.springboot3web.system.domain.model.role.RolePermission">

        select id,role_id,permission_id,created_at,updated_at,is_deleted from  t_sys_role_permission
        where role_id = #{roleId}
    </select>

    <update id="restorePermissions">
        UPDATE t_sys_role_permission
        SET is_deleted = 0,
        updated_at = #{now}
        WHERE role_id = #{roleId}
        AND is_deleted = 1
        AND permission_id IN
        <foreach collection="permissionIds" item="pid" open="(" separator="," close=")">
            #{pid}
        </foreach>
    </update>
    <update id="logicalDeletePermissions">
        UPDATE t_sys_role_permission
        SET is_deleted = 1,
        updated_at = #{now}
        WHERE role_id = #{roleId}
        AND is_deleted = 0
        AND permission_id IN
        <foreach collection="permissionIds" item="pid" open="(" separator="," close=")">
            #{pid}
        </foreach>
    </update>

</mapper>
