<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.manpowergroup.blog.module.system.infrastructure.persistence.mapper.role.RoleMapper">

    <!-- 共通の結果マッピング -->
    <resultMap id="BaseResultMap" type="com.manpowergroup.blog.module.system.domain.model.role.Role">
        <id column="id" property="id" />
        <result column="code" property="code" />
        <result column="name" property="name" />
        <result column="sort" property="sort" />
        <result column="status" property="status" />
        <result column="created_at" property="createdAt" />
        <result column="updated_at" property="updatedAt" />
        <result column="is_deleted" property="isDeleted" />
    </resultMap>

    <!-- 共通のカラム一覧 -->
    <sql id="Base_Column_List">
        id, code, name, sort, status, created_at, updated_at, is_deleted
    </sql>
</mapper>
