<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.manpowergroup.springboot.springboot3web.system.infrastructure.persistence.mapper.user.UserRoleMapper">

    <!-- 共通の結果マッピング -->
    <resultMap id="BaseResultMap" type="com.manpowergroup.springboot.springboot3web.system.domain.model.user.UserRole">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="role_id" property="roleId" />
        <result column="created_at" property="createdAt" />
        <result column="updated_at" property="updatedAt" />
        <result column="is_deleted" property="isDeleted" />
    </resultMap>

    <!-- 共通のカラム一覧 -->
    <sql id="Base_Column_List">
        id, user_id, role_id, created_at, updated_at, is_deleted
    </sql>

    <select id="selectAllByUserIdIncludeDeleted"
            resultType="com.manpowergroup.springboot.springboot3web.system.domain.model.user.UserRole">
        SELECT id, user_id, role_id, created_at, updated_at, is_deleted
        FROM t_sys_user_role
        WHERE user_id = #{userId}

    </select>

    <update id="restoreRoles">
        UPDATE t_sys_user_role
        SET is_deleted = 0,
        updated_at = #{now}
        WHERE user_id = #{userId}
        AND is_deleted = 1
        AND role_id IN
        <foreach collection="roleIds" item="rid" open="(" separator="," close=")">
            #{rid}
        </foreach>

    </update>
    <update id="logicalDeleteRoles">
        UPDATE t_sys_user_role
        SET is_deleted = 1,
        updated_at = #{now}
        WHERE user_id = #{userId}
        AND is_deleted = 0
        AND role_id IN
        <foreach collection="roleIds" item="rid" open="(" separator="," close=")">
            #{rid}
        </foreach>
    </update>


</mapper>
